.MovieForever {
  width: 100%;
  height: 700px;

  color: white;
}

.heading {
  padding-top: 30px;
  text-align: start;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 72px;
  color: white;
  background-color: black;
  @media screen and (max-width: 450px) {
    padding-left: 20px;
  }
}

.heading h2 {
  color: white;
}

hr {
  border: 1px solid #ccc;
}

.movies-container {
  position: relative;
  display: flex;
  height: 500px;
  /* place-content: flex-start;
  direction: ltr;
  box-sizing: border-box;
  gap: 2rem; */
}

.movies-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

  @media (width >= 768px) {
    width: 94%;
  }
}

.movies-container > img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  transition: background-color white;
  width: 23px;

  height: 39px;
} */

.slick-slider {
  margin-top: 20px;
  position: relative;
}

/* .slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
  padding: 10px;
}


.slick-prev,
.slick-next {
  display: none;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 0;
} */
.CustomPrevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 67px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  transition: none;
  width: 23px;

  height: 39px;
  z-index: 2;
  left: 10px;
  @media screen and (max-width: 450px) {
    font-size: 34px;
  }
}
.CustomNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 67px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  transition: none;
  width: 23px;

  height: 39px;
  z-index: 2;
  right: 10px;
  @media screen and (max-width: 450px) {
    font-size: 34px;
  }
}
