body {
  margin-top: 100px;
}
.rating-section {
  width: 100%;
  height: 850px;
  color: white;
  @media screen and (max-width: 450px) {
    width: 100%;
    height: 100%;
  }
}

.heading {
  padding-top: 30px;
  text-align: start;
  font-size: 22px;
  margin-bottom: 0;
  color: white;
  background-color: black;
  @media screen and (max-width: 450px) {
    padding-left: 20px;
  }
}

.heading h2 {
  color: white;
}

hr {
  border: 1px light #ccc;
  margin-bottom: 30px !important;
}

.imagees-container {
  position: relative;
  display: flex;
  place-content: flex-start;
  direction: ltr;
  height: 650px;
  box-sizing: border-box;
  @media screen and (max-width: 450px) {
    height: 100%;
  }

  /* padding-left: 1rem; */
}
.imagees-container > img {
  object-fit: cover;
  height: 650px;
  width: 97%;
  @media screen and (max-width: 450px) {
    height: 100%;
  }
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 8px;
  color: white;
  z-index: 1;
}
.image-overlay h3 {
  margin: 0;
  font-size: 46px;
  @media screen and (max-width: 450px) {
    font-size: 26px;
  }
}

.image-overlay p {
  font-family: poppins-extralight, poppins, sans- !important;
  font-size: 26px;
  font-weight: 100;
  @media screen and (max-width: 450px) {
    font-size: 12px;
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  transition: background-color white;
}

.slick-slider {
  margin-top: 20px;
  position: relative;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
  padding: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 32px;
  line-height: 1;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-slider {
  margin-top: 20px;
  position: relative;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 0;
}

/* .Popup {
  position: absolute;
  z-index: 10000000000000000000;
  background-color: black;
  color: #fff;
  width: 100%;
  height: 100%;
} */

.CustomPrevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 67px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  transition: none;
  width: 23px;

  height: 39px;
  z-index: 2;
  left: 10px;
  @media screen and (max-width: 450px) {
    font-size: 34px;
  }
}

.CustomNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 67px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  transition: none;
  width: 23px;

  height: 39px;
  z-index: 2;
  right: 10px;
  @media screen and (max-width: 450px) {
    font-size: 34px;
  }
}
