.start {
  width: 100%;
}
.reviews {
  color: white;
  padding: 0px;

  & h1 {
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      font-size: 150px;
    }

    @media screen and (max-width: 760px) {
      font-size: 50px;
    }
    @media screen and (max-width: 450px) {
      padding-left: 10px;
      margin-bottom: 15px;
    }
    line-height: 0.96em;
    text-align: start;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .card-section {
    display: none;
  }

  .mobile-review-section {
    display: flex;
    flex-direction: column;
  }
}

.mobile-review-section {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (min-width: 1533px) {
  .card-section {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
  }
}

@media (max-width: 1532px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}

@media (max-width: 767px) {
  .card-section {
    display: none;
    grid-template-columns: 1fr;
    column-gap: 50px;
  }
}
