.section-with-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 1rem;
  color: red;
  margin-top: 80px;
  font-family: light1475496, avenir-lt-w05_35-light, sans-serif;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.box {
  height: 500px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width<=768px) {
    height: 327px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (max-width: 450px) {
    height: 300px;
  }
}

.supporting-text {
  color: white;
  font-size: 51px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-weight: 1500;
  font-family: "46px poppins-semibold,poppins", sans-serif;
}

.form {
  width: 100%;
  flex: 1;
  padding-inline: 100px;
  box-sizing: border-box;
  justify-content: center;
  background-color: #161515;
  @media (width<=768px) {
    padding-inline: 100px;
    padding-top: 36px;
  }
  @media screen and (max-width: 450px) {
    padding-inline: 50px;
    padding-top: 12px;
  }

  input:hover {
    border-bottom: 1px solid red;
  }
}

.form-group {
  padding-top: 50px;
  flex-direction: column;
  width: 100%;

  /* @media (width>786px) {
    justify-content: center;
    align-items: center;
  } */
  & label {
    display: block;
    margin-bottom: 30px;
    color: white;
    font-size: 14px;
    height: 1.4em;
    font: weight 100px;
    font-family: "16px avenir-lt-w01_35-light1475496", sans-serif;
    gap: 5rem;
  }
  & input {
    flex: 1;
    padding: 0;
    border: none;
    background-color: #161515;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 14px;
    &:hover {
      border-bottom: 1px solid red;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
}

.firstname,
.lastname,
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group1 {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  & label {
    display: block;
    margin-bottom: 30px;
    color: white;
    font-size: 14px;
    height: 1.4em;
    font: weight 100px;
    font-family: "16px avenir-lt-w01_35-light1475496", sans-serif;
  }
  & input {
    flex: 1;
    padding: 0;
    border: none;
    background-color: #161515;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 14px;
    gap: 1rem;

    &:hover {
      border-bottom: 1px solid red;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
}

.required {
  color: red;
  margin-right: 5px;
  padding-left: 5px;
  font-size: 19px;
}

.form-bottom {
  display: flex;
  margin-top: 30px;
  align-self: flex-end;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    width: 65%;
    overflow-x: hidden;
    padding-bottom: 30px;
    align-self: center;
  }

  @media screen and (max-width: 450px) {
    align-self: center;
  }
}

.subscribe {
  background-color: #161515;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-family: "16px avenir-lt-w01_35-light1475496", sans-serif;
  font-size: 14px;
  height: 1.8em;
  font-weight: lighter;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 30px;
}

.subscribe:hover {
  background-color: red;
  border: red;
}
