/* Add necessary styles to center the content */

.blog-section{
display: flex;
flex-direction: column;
/*padding-left: 100px;*/
padding-top: 70px;
margin-left: 10rem;
}

.blog-meta{
    font-size: 10px;
    color: white;
    font-weight: lighter;
}
.blog-content{
    color: white;
    font-size: 15px;

}
 .blog-image{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
.button-container {
    display: flex;
    margin-top: 20px; 
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    gap: 1rem;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    /*cursor: pointer;*/
    transition: background-color 0.3s, color 0.3s;
    font-size: 10px;
    font-style: normal;
  }

  
.horizontal-line {
    width: 70%;
    height: 1px;
    background-color: white;
    margin: 20px 0; 
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons a {
    color: white;
    margin: 0 5px; 
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons i {
     display: flex;
     font-size: small;
  }
  
