.blog-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-self: center;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
}

.blog-meta {
  font-size: 14px;
  color: white;
  font-weight: 100;
  font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
  padding-bottom: 27px;
}

.blog-content {
  color: white;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 100;
  & p {
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light,
      sans-serif;
  }
}

.shortDescription {
  font-weight: 200;
  padding-top: 25px;
  padding-bottom: 15px;
}

.blog-image {
  margin-top: 5px;
  margin-bottom: 20px;

  & img {
    height: 500px;
    width: 100%;
  }
}

.button-container {
  display: flex;
  margin-top: 20px;
  gap: 1rem;
}

.button-container button {
  padding: 10px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  background-color: black;
  border: 1px solid rgb(63, 58, 58);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-style: normal;
  cursor: pointer;
  &:hover {
    border-color: rgb(204, 195, 195);
  }
}
.description-below-image {
  padding-top: 15px;
}

.horizontal-line {
  height: 0.5px;
  background-color: rgb(63, 58, 58);
  margin: 20px 0;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: white;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
}

.social-icons i {
  display: flex;
  font-size: small;
}
