.about-me-section {
  text-align: center;
  & h2 {
    text-align: start;
    font-size: 30px;
    color: white;
    margin-left: 10px;
    @media screen and (min-width: 768px) and (max-width: 1600px) {
      font-size: 26px;
    }
  }
  & hr {
    width: 100% !important;
    margin: 10px auto !important;
    opacity: 0.5 !important;
  }
}
.jane-description {
  padding-top: 0px !important;
}

.author-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 50px 90px;

  gap: 5rem;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
  }
}

.author-image {
  display: flex;
  width: 100%;
  height: 100% !important;
  flex-grow: 5;
  overflow: hidden;
}

.author-image img {
  height: 558px;
  width: 500px;
  object-fit: cover;

  @media (min-width: 768px) and (max-width: 1200px) {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.author-description {
  text-align: left;
  color: white;
  justify-content: flex-start;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1600px) {
    font-size: 18px;
    margin-top: 80px;
  }
}

.aboutdescription {
  & h2 {
    font-size: 25px;
    margin: 0;
    font-weight: lighter;
  }
}

.author-description-first-p {
  display: block;
  margin: 0;
  color: white;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 100;
  padding-top: 20px;
  font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
}

h3 {
  margin-bottom: 0px;
  font-size: 40px;
  display: block;
  margin: 0;
  font-weight: bold;
}

.blog-button {
  background-color: red;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid red;
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    border-color: white;
    background-color: black;
  }
}
