.blogpagemain {
  display: flex;
  font-style: normal;
  font-size: 15px;
  font-weight: lighter;
  width: 60%;
  gap: 50px;
  margin-inline: auto;

  @media screen and (max-width: 900px) {
    width: 90%;
    flex-direction: column;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

.fullblog {
  display: flex;
  flex-direction: column;
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    /* padding-inline: 10px; */
  }
}
blogsidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
