/* SingleBlogPage.css */

.blogpagemain{
    display: flex;
    font-style: normal;
    font-size: 15px;
    font-weight: lighter;
    }

  .fullblog{
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  blogsidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }


  