
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 30px;
  font-size: 14px; 
}

.logo h2 {
  margin: 0;
}

.search {
  display: flex;
  align-items: center;
  background-color: black;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  color: white;
  border: none;
  background-color: black;
  outline:none;
  border: none;
  font-size: 20px;
  input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
 }
 }

.search-icon {
  font-size: 1.4em;
  cursor: pointer;
  font-weight: 100;
  opacity: 0.5;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  color: white;
}

.nav-links li:hover {
  color: red;
}

a {
  color: white;
  text-decoration: none;
}

.mobilesearch {
  display: none;
}


@media screen and (max-width: 768px) {


  .search {

    width: 100%; 
    margin-top: 10px; 
    order: 2;
    background-color: black;
    @media(width<968px){
      display: none; 
  }
  .mobile-search-input {
    width: 100%;
    input{
      width: 100%;
    
    }
  }
  }
  

  .menu-icon{
    display: block;
    margin-left: auto;
    z-index: 100;
    color: white;
  }

  .nav-icons {
    display: block;
    z-index:100;
  }
  .logo {
     margin-right:auto;
     margin-bottom: 1rem;
  }
  .mobilesearch {
    display: flex;
    padding: 2px;
    input{
      width: 100%;
      background-color: black;
      color: white;
      outline:none;
      border: none;
      font-size: 30px;
    }::placeholder {
      color: white;
    }
  }

  .mobile-search{
    color: white;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    color: white;
  }

  .nav-links.open {
    display: flex;
  }
}
.hamburgermenu{
  background-color: #161516;
  position: absolute;
  z-index: 1;
  height: 100vh;
  top: 0;
  width: 400px;
  left: 113px;
  
  ul{
    position: absolute;
    top: 77px;
    left: 141px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    margin-top: 40px;
    
  }
}
  



  
    






