.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  gap: 20px;

  @media (max-width: 450px) {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
}

.image-button-section {
  display: flex;
  justify-content: space-between;
}

.modal-image {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  @media (max-width: 450px) {
    display: flex;
    justify-self: center;
    margin-left: 0px;
  }
}
.modal-image > img {
  width: 758px;
  height: 416.9px;
  object-fit: cover;
  @media (max-width: 450px) {
    width: 550px;
    height: 350px;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
}

.modal-content {
  color: white;
  margin-left: 30px;
}

.modal-content h3 {
  margin: 10px 0;
  font-size: 36px;
  @media (max-width: 450px) {
    font-size: 20px;
  }
}

.modal-content p {
  margin: 5px 0;
  font-family: poppins-extralight, poppins, sans-serif !important;
  font-size: 20px;
  font-weight: lighter;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.modalbutton > button {
  position: absolute;
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  /* padding-inline: 10px; */
}

button:hover {
  color: #fff;
}

button:first-child {
  top: 10px;
  left: 20px;
}

button:last-child {
  top: 10px;
  right: 20px;
}
.modal-nav-button {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  vertical-align: baseline;
}
.modal-nav-button:hover {
  color: #fff;
}

.modal-nav-button:first-child {
  left: 20px;
}

.modal-nav-button:last-child {
  right: 30px;
}
