.Popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  gap: 20px;

  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
}
.expanded {
  width: 100%;
  height: 100vh;
}

.mobile-modal-view {
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image-button-section {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.modal-image {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  @media (max-width: 450px) {
    display: flex;
    justify-self: center;
    margin-left: 0px;
  }
}

.modal-image > img {
  width: 758px;
  height: 416.9px;
  object-fit: cover;
  @media (max-width: 450px) {
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
}
.expanded-modal-image img {
  width: 100vw !important;
  height: 100vh !important;
}

.modal-content {
  color: white;
  margin-left: 30px;
}

.modal-content h3 {
  margin: 10px 0;
  font-size: 36px;
  @media (max-width: 450px) {
    font-size: 20px;
  }
}

.modal-content p {
  margin: 5px 0;
  font-family: poppins-extralight, poppins, sans-serif !important;
  font-size: 20px;
  font-weight: lighter;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.modalbutton > button {
  position: absolute;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  stroke-width: 0;
  font-weight: 100 !important;
}

button:hover {
  color: #fff;
}

button:first-child {
  top: 30px;
  left: 20px;
}

button:last-child {
  top: 30px;
  right: 20px;
}

.forever-modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 528px;
  width: 758px;
  margin-right: 50px;
  margin-left: 50px;
  @media screen and (max-width: 450px) {
    height: 566px;
    width: 320px;
  }
}
.forever-modal-image > img {
  width: 369.059px;
  height: 528px;
  object-fit: cover;
}

.forever-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & p {
    display: flex;
    font-family: avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light,
      sans-serif;
    font-size: 17px;
    justify-self: center;
    align-self: center;

    @media screen and (max-width: 450px) {
      padding: 0 8px 0 8px;
    }
  }
}

.modal-image,
.forever-modal-image {
  position: relative;
}

.modal-nav-button,
.modal-nav-button2 {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.modal-nav-button {
  left: -50px !important;
}

.modal-nav-button2 {
  right: -50px !important;
}
