.RecentCardFirst {
  height: 200px;
  width: 250px;
  display: flex;
  @media screen and (max-width: 800px) {
    display: flex;
    margin-left: 0px;
  }
}

.recentHeading {
  margin-top: 20px;
  display: flex;
}

.recentImage {
  border: none;
}

.container {
  /* width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem; */
}
