.RecentCardFirst {
  height: 260px;
  width: 320px;
  @media screen and (max-width: 800px) {
    display: flex;
    margin-left: 0px;
  }
}

.recentHeading {
  margin-top: 20px;
  display: flex;
}

.recentImage {
  & img {
    width: 100%;
  }
  border: none;
}
