@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-inline: 40px;
  scroll-behavior: smooth;

  @media screen and (max-width: 450px) {
    padding: 0px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-size: 1.5rem !important;
  font-weight: 100;
  font-family: sans-serif;
  @media screen and (max-width: 550px) {
    font-size: 1rem !important;
  }
}
